@using DEMO2
@model Cliente
<h1>Detalles</h1>
<div>
    <h4>@Model.Nombre</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre
        </dd>
        <dt class="col-sm-2">
            Apellido
            <dd class="col-sm-10">
                @Model.Apellido
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>

            <dt class="col-sm-2">
                Fecha ultima vacuna
            </dt>
            <dd class="col-sm-10">
                @Model.FechNac.ToString("dddd, dd MMMM yyyy")
            </dd>
            <dt class="col-sm-2">
                Fecha alta
            </dt>
            <dd class="col-sm-10">
                @Model.FechaAlta.ToString("dddd, dd MMMM yyyy")
            </dd>

            <dt class="col-sm-2">
                Activo
            </dt>
            <dd class="col-sm-10">
                @if (Model.EsActivo)
                {
                    <span>SI</span>
                }
                else
                {
                    <span>NO</span>
                }
            </dd>
        </dl>
    </div>